<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazon.base.dao.UserDao">
    <insert id="addUser" parameterType="user">
        insert into User(username,password,sex,birthday,id_code,email,mobile,address,status)
        values(#{username},#{password},#{sex},#{birthday},#{id_code},#{email},#{mobile},#{address},1);
    </insert>
</mapper>