<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazon.module.dao.NewsDao">
    <!--表名-->
    <sql id="news"> NEWS </sql>

    <resultMap type="news" id="newsMapper">
        <id property="nid" column="nid"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="createtime"/>
    </resultMap>
</mapper>