<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazon.module.dao.PlaceNameDao">

    <!--表名-->
    <sql id="placeName"> PLACENAME </sql>

    <resultMap type="placeName" id="pnMapper">
        <id property="pnId" column="pnid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <!--插入地名-->
    <insert id="addPlaceName" parameterType="com.alibaba.fastjson.JSONObject">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pnId">
            select sys_guid() from dual
        </selectKey>
        insert into <include refid="placeName"/> (pnid,name,type,parent_id)
        values(#{pnId},#{name},#{type},#{parent_id})
    </insert>

    <!--根据父类id查询地名集合-->
    <select id="queryPlaceNameListByParentId" resultMap="pnMapper">
        select
              *
        from <include refid="placeName"/>  WHERE parent_id
        <choose>
            <when test="parentId==null">
                is null
            </when>
            <otherwise>
                =#{parentId}
            </otherwise>
        </choose>
    </select>

</mapper>