<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazon.module.dao.ProductDao">

    <resultMap type="product" id="productMapper">
        <id property="pid" column="pid"/>
        <result property="name" column="pname"/>
        <result property="describe" column="description"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="pc_id" column="pc_id"/>
        <result property="pc_child_id" column="pc_child_id"/>
        <result property="fileName" column="p_file_name"/>
        <association property="store" column="sid"
        select="com.amazon.module.dao.StoreDao.queryStoreBySid"
        javaType="store"/>
    </resultMap>
    <!--模糊查询商品总数-->
    <select id="queryProductCountBySearch" parameterType="String" resultType="int">
        select count(1) from product where pname like '%${search}%' or description like '%${search}%'
    </select>

    <!--模糊查询商品（分页）-->
    <select id="queryProductsBySearch" parameterType="map" resultMap="productMapper">
        select
                *
        from
            (select rownum as r,t.* from product t where pname like '%${search}%' or description like '%${search}%')
        where r between #{start} and #{end}
    </select>

    <!--一级商品分类Id查询商品总数-->
    <select id="queryProductCountByPcid" parameterType="String" resultType="int">
        select count(1) from product where pc_id=#{cid}
    </select>

    <!--一级商品分类Id查询商品（分页）-->
    <select id="queryProductsByPcid" parameterType="map" resultMap="productMapper">
        select
                *
        from
            (select rownum as r,t.* from product t where pc_id=#{cid})
        where r between #{start} and #{end}
    </select>

    <!--二级商品分类Id查询商品总数-->
    <select id="queryProductCountByCpcid" parameterType="String" resultType="int">
        select count(1) from product where pc_child_id=#{cid}
    </select>

    <!--二级商品分类Id查询商品（分页）-->
    <select id="queryProductsByCpcid" parameterType="map" resultMap="productMapper">
        select
                *
        from
            (select rownum as r,t.* from product t where pc_child_id=#{cid})
        where r between #{start} and #{end}
    </select>

    <!--通过商品id查询商品-->
    <select id="queryProductByPid" parameterType="params" resultMap="productMapper">
        select
                *
        from product t where pid=#{pid}
    </select>

</mapper>