<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazon.module.dao.StoreDao">

    <!--表名-->
    <sql id="store"> STORE </sql>

    <resultMap type="store" id="storeMapper">
        <id property="sid" column="sid"/>
        <result property="sName" column="sname"/>
        <result property="address" column="address"/>
        <result property="managerId" column="managerid"/>
        <result property="sLevel" column="slevel"/>
        <result property="rate" column="rate"/>
    </resultMap>

    <!--根据sid查询商铺信息-->
    <select id="queryStoreBySid" parameterType="String" resultMap="storeMapper">
        select
            *
        from <include refid="store"/>
        where sid =#{sid}
    </select>
</mapper>