.index_carousel{
    overflow: hidden;
}

.carousel_div img{
    width: 100%;
}

#myCarousel .carousel-control{
    padding-top: 24%;
}


#today_hot_product ul li{
    float: left;
    list-style-type: none;
    width: 33.3%;
    border: 1px solid black;
}