.my_container{
    margin: 0 auto;
}

@media (max-width: 960px) {
    .my_container{
        width: 720px;
    }
}

@media (min-width: 960px) {
    .my_container{
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .my_container{
        width: 1200px;
    }
}
