.my_container{
    margin: 0 auto;
}

.searcher_header{
    margin-top: 60px;
}

.price_text{
    font-weight: 600;
    font-size: 18px;
    color: #e8393c;
}

.ivu-input-number-input[disabled]{
    color: black;
}

@media (max-width: 960px) {
    .my_container{
        width: 720px;
    }
}

@media (min-width: 960px) {
    .my_container{
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .my_container{
        width: 1200px;
    }
}
