.index_content{
    padding-top: 10px;
}

.searcher_header{
    margin-top: 60px;
    width: 100%;
}

.index_left{
    height: 1px;
}

.index_middle{
    padding: 0 7px 20px 7px;
}

.index_right{
    width: 250px;
}

@media (max-width: 960px) {
    .index_left{
        width: 0px;
    }

    .index_middle{
        width: 600px;
        margin: 0 auto;
    }

    .index_right{
        width: 625px;
        margin: 0 auto;
    }
}

@media (min-width: 960px) {
    .index_content>div{
        float: left;
    }
    .index_left{
        width: 250px;
    }
    .index_middle{
        width: 460px;
    }
}

@media (min-width: 1200px) {
    .index_content>div{
        float: left;
    }
    .index_left{
        width: 250px;
    }
    .index_middle{
        width: 650px;
    }
}