.place_order_page_header{
    margin-top: 100px;
}
.order_address{
    margin-top: 50px;
    padding-left: 50px;
}

.order_address_unit{
    list-style-type: none;
    float: left;
    width:280px;
    height: 150px;
}

.order_address_unit>div{
    width: 240px;
    height: 100px;
    border: 1px dashed #41b8ea;
    padding: 10px;
}

div.order_address_selected{
    border: 2px solid #41b8ea;
}

.order_info {
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 200px;
}
.order_info_wrap{
    margin-top: 30px;
}

.order_final_info{
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #2b85e4;
    float: right;
    width: 300px;
}
.store_order_wrap{
     margin-top: 30px;
}
.order_default_address{
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: #ff5d00;
}
@media (max-width: 960px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1200px) {

}