.product-list{
    overflow: hidden;
}

.product-list li{
    list-style-type: none;
    width: 240px;
    height: 400px;
    float: left;
}

.category_nav_bread_crumb_wrap{
    height: 45px;
    line-height: 45px;
    padding-left: 20px;

}

.category_nav_bread_crumb_wrap .ivu-breadcrumb{
    font-size: 15px;
}