<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/icon/logo.png"/>
    <!--框架-->
    <link rel="stylesheet" href="lib/iview/iview.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <!--css-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/order.css">
    <!--框架-->
    <script src="lib/vue/vuePlus.js"></script>
    <script src="lib/iview/iview.min.js"></script>
    <script src="lib/jquery/jquery-3.2.1.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <!--js-->
    <script src="js/order.js"></script>
    <!--模块-->
    <script src="module/topUserInfo/topUserInfo.js"></script>
    <script src="module/headerSearch/headerSearch.js"></script>
    <script src="module/category/category.js"></script>
    <script src="module/orderHeader/orderHeader.js"></script>
    <script src="module/orderUnit/orderUnit.js"></script>

    <title>亚马逊(订单)</title>
</head>
<body style="overflow-y: auto">
<div id="order">
    <top-user-info></top-user-info>
    <div class="searcher_header">
        <header-search></header-search>
    </div>
    <div class="my_container">
        <div class="order_tabs">
            <tabs value="unpay">
                <tab-pane :label="label.allOrder" name="all">
                    <div class="all_order_tab">
                        <row>
                            <i-col span="20">
                                <order-header></order-header>
                            </i-col>
                            <i-col span="4">

                            </i-col>
                        </row>
                        <template v-for="item in orderList.unpay">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="payOrder(item.id)">付款</i-button>
                                        </div>
                                        <div>
                                            <i-button type="primary" size="small" @click="cancelOrder(item.id)">取消订单</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                        <template v-for="item in orderList.unsend">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="cancelOrder(item.id)">取消订单</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                        <template v-for="item in orderList.untake">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="confirmReceipt(item.id)">确认收货</i-button>
                                        </div>
                                        <div>
                                            <i-button type="primary" size="small" @click="returnGoods(item.id)">退货</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                        <template v-for="item in orderList.uncomment">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="commentOrder(item.id)">评价</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                        <template v-for="item in orderList.finished">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">

                                </i-col>
                            </row>
                        </template>
                    </div>
                    <div class="all_order_tab_pagination">
                        <page @on-change="lookNextPageOrders" :total="page.total" :page-size="page.size" :current.sync="page.current" show-elevator></page>
                    </div>
                </tab-pane>
                <tab-pane :label="label.unpayOrder" name="unpay">
                    <div class="unpay_tab">
                        <row>
                            <i-col span="20">
                                <order-header></order-header>
                            </i-col>
                            <i-col span="4">

                            </i-col>
                        </row>
                        <template v-for="item in orderList.unpay">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="payOrder(item.id)">付款</i-button>
                                        </div>
                                        <div>
                                            <i-button type="primary" size="small" @click="cancelOrder(item.id)">取消订单</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                    </div>
                </tab-pane>
                <tab-pane :label="label.unsendOrder" name="unsend">
                    <div class="unsend_tab">
                        <row>
                            <i-col span="20">
                                <order-header></order-header>
                            </i-col>
                            <i-col span="4">

                            </i-col>
                        </row>
                        <template v-for="item in orderList.unsend">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="cancelOrder(item.id)">取消订单</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                    </div>
                </tab-pane>
                <tab-pane :label="label.untakeOrder" name="untake">
                    <div class="untake_tab">
                        <row>
                            <i-col span="20">
                                <order-header></order-header>
                            </i-col>
                            <i-col span="4">

                            </i-col>
                        </row>
                        <template v-for="item in orderList.untake">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="confirmReceipt(item.id)">确认收货</i-button>
                                        </div>
                                        <div>
                                            <i-button type="primary" size="small" @click="returnGoods(item.id)">退货</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                    </div>
                </tab-pane>
                <tab-pane :label="label.uncommentOrder" name="uncomment">
                    <div class="uncomment_order">
                        <row>
                            <i-col span="20">
                                <order-header></order-header>
                            </i-col>
                            <i-col span="4">

                            </i-col>
                        </row>
                        <template v-for="item in orderList.uncomment">
                            <row>
                                <i-col span="20">
                                    <order-unit  :order-info="item" :num-disabled="true"></order-unit>
                                </i-col>
                                <i-col span="4">
                                    <div class="order_handle_button_wrap">
                                        <div>
                                            <i-button type="primary" size="small" @click="commentOrder(item.id)">评价</i-button>
                                        </div>
                                    </div>
                                </i-col>
                            </row>
                        </template>
                    </div>
                </tab-pane>
            </tabs>
        </div>
    </div>
</div>
<script>
    var app=new Vue({
        el:'#order',
        data:{
            label:{
                allOrder: '所有订单',
                unpayOrder: (h) => {
                    return h('div', [
                        h('span', '待付款'),
                        h('Badge', {
                            props: {
                                count: this.app.count.unpay,
                                className:'order_badge_dot'
                            }
                        })
                    ])
                },
                unsendOrder: (h) => {
                    return h('div', [
                        h('span', '待发货'),
                        h('Badge', {
                            props: {
                                count: this.app.count.unsend
                            }
                        })
                    ])
                },
                untakeOrder: (h) => {
                    return h('div', [
                        h('span', '待收货'),
                        h('Badge', {
                            props: {
                                count: this.app.count.untake
                            }
                        })
                    ])
                },
                uncommentOrder: (h) => {
                    return h('div', [
                        h('span', '待评价'),
                        h('Badge', {
                            props: {
                                count: this.app.count.uncomment
                            }
                        })
                    ])
                },
            },
            count:{
                unpay:1,
                unsend:2,
                untake:3,
                uncomment:4
            },
            orderList:{
                unpay:[
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    },
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    }
                ],
                unsend:[
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    }
                ],
                untake:[
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    },
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    },
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    }
                ],
                uncomment:[
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    },
                    {
                    img:'images/product/1.jpg',
                    desc:'不拉不拉不拉',
                    category:'不拉不拉不拉',
                    price:1122.00,
                    count:1,
                    cost:1122.00,
                    model:false
                    }
                ],
                finished:[]
            },
            page:{
                total:6000,
                size:60,
                current:2
            }
        },
        methods:{
            payOrder:function (oid) {
                console.log("付款")
            },
            cancelOrder:function (oid) {
                console.log("取消订单")
            },
            confirmReceipt:function (oid) {
                console.log("确认收货")
            },
            returnGoods:function (oid) {
                console.log("退货")
            },
            commentOrder:function (oid) {
                console.log("评价")
            },
            lookNextPageOrders:function () {
                
            }
        }
    });
</script>
</body>
</html>