<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/icon/logo.png"/>
    <!--框架-->
    <link rel="stylesheet" href="lib/iview/iview.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <!--css-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/placeorder.css">
    <!--框架-->
    <script src="lib/vue/vuePlus.js"></script>
    <script src="lib/iview/iview.min.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <!--js-->
    <script src="js/common.js"></script>
    <!--模块-->
    <script src="module/topUserInfo/topUserInfo.js"></script>
    <script src="module/orderUnit/orderUnit.js"></script>
    <script src="module/orderHeader/orderHeader.js"></script>
    <script src="module/stepHeader/stepHeader.js"></script>
    <title>亚马逊(下订单)</title>
</head>
<body style="overflow-y: auto">
<div id="placeorder">
    <top-user-info :force-login="true"></top-user-info>
    <div class="my_container">
        <div class="place_order_page_header">
            <step-header current="0"></step-header>
        </div>
        <div class="order_address">
            <h3>收货地址：</h3>
            <ul style="overflow: hidden">
                <li v-for="item in addrs" class="order_address_unit">
                    <div :class="{order_address_selected:item.selected}"  @click="changeAddress(item)">
                        <div v-show="item.status=='1'" class="order_default_address">[默认地址]</div>
                        <div>收件人：{{item.receiver}}</div>
                        <div>地址：{{item.province+item.city+item.detail}}</div>
                        <div>联系方式:{{item.phone}}</div>
                    </div>
                </li>
            </ul>
            <div>
                <i-button type="primary" @click="addNewAddress">新增收货地址</i-button>
                <i-button type="primary" @click="setDefaultAddress">设置为默认地址</i-button>
                <i-button type="primary" @click="deleteAddress">删除地址</i-button>
            </div>
        </div>
        <div class="order_info">
            <h4 style="font-weight: 600">确认订单信息</h4>
            <div class="order_info_wrap">
               <div class="store_order_wrap" v-for="storeInfo in orderList">
                   <div><img src="assets/icon/store.png" alt="">{{storeInfo.store}}</div>
                   <div style="margin-top: 10px">
                       <order-header></order-header>
                   </div>
                   <order-unit v-for="order in storeInfo.orders" :order-info="order"></order-unit>
               </div>
            </div>
            <div class="order_final_info">
                <div>实付款:<span class="price_text">￥{{sumCost}}</span></div>
                <div>地址：<span>{{selectedAddr.province+selectedAddr.city+selectedAddr.detail}}</span></div>
                <div>收件人：<span>{{selectedAddr.receiver}}</span></div>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top: 20px;overflow: hidden">
                <i-button type="primary" @click="submitOrder" class="pull-right">提交订单</i-button>
            </div>
        </div>
    </div>
    <!--新增地址-->
    <modal v-model="addAddr.modal" width="450" @on-cancel="" :mask-closable="false">
        <p slot="header" style="color:black;text-align:center">
            <span>添加地址</span>
        </p>
        <div style="text-align:center">
            <i-form ref="addAddress" :model="addAddr.info" :rules="addAddr.rules" :label-width="80">
                <form-item label="所在地区" prop="country">
                    <row>
                        <i-col span="8">
                            <form-item prop="country">
                                <i-select v-model="addAddr.info.country" style="width:100px" @on-change="selectCountry">
                                    <i-option v-for="item in countryList" :value="item.pnId" :key="item.pnId">{{ item.name }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                        <i-col span="8">
                            <form-item prop="province">
                                <i-select v-model="addAddr.info.province" style="width:100px" @on-change="selectProvince">
                                    <i-option v-for="item in provinceList" :value="item.pnId" :key="item.pnId">{{ item.name }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                        <i-col span="8">
                            <form-item prop="city">
                                <i-select v-model="addAddr.info.city" style="width:100px">
                                    <i-option v-for="item in cityList" :value="item.pnId" :key="item.pnId">{{ item.name }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                    </row>
                </form-item>
                <form-item label="详细地址" prop="address">
                    <i-input v-model="addAddr.info.address" type="textarea" rows="4" placeholder="输入详细地址(县、区/乡、镇、街道/村、小区/门牌号)"></i-input>
                </form-item>
                <form-item label="邮政编码" prop="postalCode">
                    <i-input v-model="addAddr.info.postalCode" placeholder="邮政编码"></i-input>
                </form-item>
                <form-item label="收货人姓名" prop="receiverName">
                    <i-input v-model="addAddr.info.receiverName" placeholder="收件人姓名"></i-input>
                </form-item>
                <form-item label="联系方式" prop="phone">
                    <i-input v-model="addAddr.info.phone" placeholder="手机号/固话(请加区号)"></i-input>
                </form-item>
                <form-item>
                    <i-button type="primary" @click="saveNewAddress('addAddress')" :loading="addAddr.saveFlag">保存</i-button>
                    <i-button type="ghost" @click="reset('addAddress')" style="margin-left: 8px">重置</i-button>
                </form-item>
            </i-form>
        </div>
        <div slot="footer"></div>
    </modal>
</div>
<script>
    var app=new Vue({
        el:'#placeorder',
        data:{
            addrs:[],
            selectedAddr:{},
            addAddr:{
                modal:false,
                info:{
                    country:'1',
                    province:'',
                    city:'',
                    address:'',
                    postalCode:'',
                    receiverName:'',
                    phone:''
                },
                rules:{
                    country: [
                        { required:true , message:'国家'}
                    ],
                    province: [
                        { required:true , message:'省份'}
                    ],
                    city: [
                        { required:true , message:'城市'}
                    ],
                    address: [
                        { required:true , message:'填写详细地址'}
                    ],
                    postalCode: [
                        { message:'邮政编码错误'}
                    ],
                    receiverName: [
                        { required:true , message:'收件人姓名为空'}
                    ],
                    phone: [
                        { required:true , message:'请填写正确的联系方式'}
                    ],
                },
                saveFlag:false
            },
            countryList:[
                {pnId:'1',name:'中国'}
            ],
            provinceList:[
                {pnId:'1',name:'江苏省'}
            ],
            cityList:[
                {pnId:'1',name:'连云港市'}
            ],
            orderList:[
                {
                    store:'京天华盛',
                    model:false,
                    orders:[
                        {
                            img:'assets/product/1.jpg',
                            desc:'不拉不拉不拉',
                            category:'不拉不拉不拉',
                            price:1122.00,
                            count:1,
                            cost:1122.00,
                            model:false
                        },
                    ]
                },
                {
                    store:"名龙堂",
                    model:false,
                    orders:[
                        {
                            img:'assets/product/1.jpg',
                            desc:'不拉不拉不拉',
                            category:'不拉不拉不拉',
                            price:1122.00,
                            count:1,
                            cost:1122.00,
                            model:false
                        },
                        {
                            img:'assets/product/1.jpg',
                            desc:'不拉不拉不拉',
                            category:'不拉不拉不拉',
                            price:1122.00,
                            count:1,
                            cost:1122.00,
                            model:false
                        },
                    ]
                },
            ],
            sumCost:9999.99,
            params:{},
            interfaces:{
                getPlaceNameListByParentId:'/core/order/getPlaceNameListByParentId',
                saveNewAddress:'/core/order/saveNewAddress',
                getMyAddress:'/core/order/getMyAddress',
                changeMyDefaultAddress:'/core/order/changeMyDefaultAddress',
                deleteMyAddress:'/core/order/deleteMyAddress'
            }
        },
        created:function () {
            temp.$on('loginStatus',(status) =>{
                if(status==CommonValue.SUCCESS){
                    this.updateMyAddress();
                }
                if(status==CommonValue.FAIL){
                    this.addrs=[];
                }
            })
            this.params=getParamsFromUrl(window.location.href);
            this.updateMyAddress();
            let params={};
            callApi(this.interfaces.getPlaceNameListByParentId,params,(data)=> {
                this.countryList=data;
                if(data[0]){
                    this.addAddr.info.country=data[0].pnId;
                }
            })
        },
        methods:{
            addNewAddress:function () {
                this.addAddr.modal=true;
                this.addAddr.info.country=this.countryList[0].pnId;
            },
            changeAddress:function(addr){
                for(var i in this.addrs){
                    this.addrs[i].selected=false;
                }
                addr.selected=true;
                this.selectedAddr=addr;
            },
            saveNewAddress:function (name) {
                this.$refs[name].validate((result)=> {
                    if(result){
                        this.addAddr.saveFlag = true;
                        let params={};
                        params.country=this.getPlaceNameByIdAndList(this.countryList,this.addAddr.info.country);
                        params.province=this.getPlaceNameByIdAndList(this.provinceList,this.addAddr.info.province);
                        params.city=this.getPlaceNameByIdAndList(this.cityList,this.addAddr.info.city);
                        params.detail=this.addAddr.info.address;
                        params.zipCode=this.addAddr.info.postalCode;
                        params.receiver=this.addAddr.info.receiverName;
                        params.phone=this.addAddr.info.phone;
                        callApi(this.interfaces.saveNewAddress,params,(data)=>{
                            if(data==CommonValue.SUCCESS){
                                this.addAddr.modal = false;
                                this.$Message.success('保存成功');
                                this.updateMyAddress();
                                this.reset("addAddress");
                            }else {
                                this.$Message.success('保存失败');
                            }
                            this.addAddr.saveFlag = false;
                        });
                    }
                });
            },
            reset:function (name) {
                this.$refs[name].resetFields();
            },
            submitOrder:function () {
                console.log("submit order")
            },
            selectCountry:function (val) {
                /*因为保存完地址之后表单会置空，所以会触发这个方法，但是这是传进来的是空值，因此这里会查询到
                * 所有的country，因此这里判断一下，如果val为空，就不发送请求（selectProvince同理）*/
                if(val){
                    let params={};
                    params.parentId=val;
                    callApi(this.interfaces.getPlaceNameListByParentId,params,(data)=> {
                        this.provinceList=data;
                        if(data[0]) {
                            this.addAddr.info.province = data[0].pnId;
                        }
                    })
                }
            },
            selectProvince:function (val) {
                if(val){
                    let params={};
                    params.parentId=val;
                    callApi(this.interfaces.getPlaceNameListByParentId,params,(data)=> {
                        this.cityList=data;
                        if(data[0]) {
                            this.addAddr.info.city = data[0].pnId;
                        }
                    })
                }
            },
            getPlaceNameByIdAndList:function (list,id) {
                for(let i in list){
                    if(list[i].pnId==id){
                        return list[i].name;
                    }
                }
                return '';
            },
            updateMyAddress:function () {
                this.selectedAddr={};
                callApi(this.interfaces.getMyAddress,{},(data)=>{
                    if(data!=CommonValue.UNLOGIN){
                        this.addrs=data;
                        if(data[0]){
                            for(let i in data){
                                if(data[i].status=='1'){
                                    data[i].selected=true;
                                    this.selectedAddr=data[i];
                                    break;
                                }
                            }
                            if(!this.selectedAddr.province){
                                data[0].selected=true;
                                this.selectedAddr=data[0]
                            }
                        }
                    }
                })
            },
            setDefaultAddress:function () {
                let params={};
                params.aid=this.selectedAddr.aid;
                callApi(this.interfaces.changeMyDefaultAddress,params,(data)=>{
                    if(data){
                       this.changeAddressStatus();
                    }
                })
            },
            deleteAddress:function () {
                let params={};
                params.aid=this.selectedAddr.aid;
                callApi(this.interfaces.deleteMyAddress,params,(data)=>{
                    if(data){
                        this.updateMyAddress();
                    }
                })
            },
            changeAddressStatus:function () {
                for(var i in this.addrs){
                    if(this.addrs[i].status){
                        this.addrs[i].status='0';
                    }
                }
                this.selectedAddr.status='1';
            }
        }
    });
</script>
</body>
</html>